      
        <div class="card">
          <header class="card-header">
            <%= link_to event.title, event, class: "card-header-title" %>
          </header>
          <div class="card-content">
            <div class="content">
              <%= event.date %><br>
              <%= event.location %>
            </div>
          </div>
        </div>