      
<div class="card shadow-md is-cursor-pointer transform is-duration-300 hover-shadow-xl hover-translate-y">
  <header class="card-header has-background-success">
    <%= link_to event.title, event, class: "card-header-title has-text-success-light is-centered" %>
  </header>
  <div class="card-content">
    <div class="content">
      <b>Host: </b><%= event.creator.name %><br>
      <b>Date: </b><%= event.date.strftime('%B %d, %Y') %><br>
      <b>Location: </b><%= event.location %>
    </div>
  </div>
</div>